# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/_build/

# Misc
*synctex*
*aux
*pyc
.DS_Store
*bak
*swp 
*.png
*.pdf
documentation/tmp
documentation/_build
*pickle.gz

# Fortran
*.f90
*.o
*.mod
