# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/build/
docs/source/_static
docs/source/_templates

# Misc
*synctex*
*aux
*pyc
.DS_Store
*bak
*swp 
*.png
*.pdf
documentation/tmp
documentation/_build
*pickle.gz
examples/.ipynb_checkpoints/

# Fortran
*.f90
*.o
*.mod

# Stupid excel copies
._*xlsx
~$*xlsx

# pickle files and plots
examples/all_gifplots/
examples/pickle_files/
examples/2019*/
examples/2018*/

# Testing files/dirs
Data/testing_host/
Data/testmodels/
utils/parameters_1.5sigma.yaml
utils/parameters_orig.yaml
